label {
  margin-bottom: 0.25rem;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.admin-select {
  max-width: 450px;
  width: 100%;
  height: 52px;
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--grey-light-color);
  font-size: 1rem;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 0 4px var(--purple-color);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 4px var(--secondary-color);
  }
}

@media (max-width: 768px) {
  .admin-select {
    max-width: 100%;
  }
}

// Custom dropdown arrow
.select-container::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 16px;
  height: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  background: url("/images/svg/arrow.svg") no-repeat center/contain;
}
