.brands-page {
  background: var(--white-color);
  min-height: 90vh;
}

/* Responsive Design */
@media (max-width: 768px) {
  .brands-page {
    padding: 1rem;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: var(--secondary-color-light);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: var(--secondary-color);
}
