@if (cartItem(); as item) {
<div class="cart-item">
  <div class="item-image" (click)="goToProductDetail()">
    <img [src]="getImageUrl(item.product.img)" alt="Image" />
  </div>

  <div class="item-content">
    <div class="item-top">
      <div class="item-top-left">
        <h3 class="item-name">{{ item.product.name }}</h3>
        <p class="item-size">
          Size: <span>{{ item.selectedSize }}</span>
        </p>
        @if (item.selectedColor) {
        <p class="item-color">
          Color: <span>{{ item.selectedColor }}</span>
        </p>
        }
      </div>
      <div class="item-top-right">
        <button class="delete-btn" (click)="onRemoveItem()">
          <img src="/images/svg/trash.svg" alt="Delete" />
        </button>
      </div>
    </div>
    <div class="item-bottom">
      <div class="price-section">
        <span class="current-price">{{
          item.product.price | currency : "EUR" : "symbol" : "1.2-2"
        }}</span>
        @if (item.product.oldPrice) {
        <span class="original-price">{{
          item.product.oldPrice | currency : "EUR" : "symbol" : "1.2-2"
        }}</span>
        } @if (item.product.discount) {
        <span class="discount">-{{ item.product.discount }}%</span>
        }
      </div>
      <div class="quantity">
        <app-quantity-control
          [quantity]="quantity()"
          [minQuantity]="1"
          [maxQuantity]="item.maxQuantity || 100"
          [size]="quantitySize"
          (quantityChange)="onQuantityChange($event)"
        ></app-quantity-control>
      </div>
    </div>
  </div>
</div>
}
