input {
  display: flex;
  width: 100%;
  padding: 0.8rem 1.5rem;
  height: 52px;
  font-size: 1rem;
  font: inherit;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  transition: box-shadow 0.3s ease;
  max-width: 450px;
}

@media (max-width: 768px) {
  input {
    max-width: 100%;
  }
}

input::placeholder {
  color: gray;
  font-size: 1rem;
}

input:hover {
  box-shadow: 0 0 4px var(--purple-color);
}

input:focus {
  outline: none;
  box-shadow: 0 0 4px var(--secondary-color);
}

input-validation {
  display: flex;
  justify-self: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  width: 12rem;
}
