<app-hero-section></app-hero-section>

<h2 class="h1 mb-36 center">NEW ARRIVALS</h2>
<div class="mb-24 product-list-home">
  <app-product-list
    [products]="(newProducts$ | async) || []"
    (productClick)="navigateToProduct($event)"
  ></app-product-list>
</div>
<div class="view-more">
  <button class="view-more-btn" (click)="showAllNewArrivals()">View All</button>
</div>

<h2 class="h1 mb-36 center">TOP RATED</h2>
<div class="mb-24 product-list-home">
  <app-product-list
    [products]="(topRatedProducts$ | async) || []"
    (productClick)="navigateToProduct($event)"
  ></app-product-list>
</div>

<div class="view-more">
  <button class="view-more-btn" (click)="showAllTopRated()">View All</button>
</div>

<app-dress-style-section></app-dress-style-section>
