<footer class="mobile-footer">
  <div class="footer__menu">
    <nav class="footer__body">
      <ul class="menu__list">
        <li class="menu__item">
          <a routerLink="/" routerLinkActive="active" class="menu__link">
            <img src="/images/svg/house.svg" alt="Home" class="menu-icon" />
          </a>
        </li>
        <li class="menu__item">
          <a routerLink="/catalog" routerLinkActive="active" class="menu__link">
            <img src="/images/svg/store.svg" alt="Shop" class="menu-icon" />
          </a>
        </li>
        <li class="menu__item">
          <a routerLink="/cart" routerLinkActive="active" class="menu__link">
            <img src="/images/svg/basket.svg" alt="Cart" class="menu-icon" />
            <app-badge [count]="cartItemsCount"></app-badge>
          </a>
        </li>
        <li class="menu__item">
          <a routerLink="/login" routerLinkActive="active" class="menu__link">
            <img src="/images/svg/user.svg" alt="Profile" class="menu-icon" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
