.profile-edit-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--grey-color);
}

.profile-edit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
