<h1 class="h1">Edit product</h1>
<app-gray-line></app-gray-line>

<form class="" [formGroup]="productForm" (ngSubmit)="submit()">
  <div class="two-column">
    <div class="control">
      <label for="product-name">Product name</label>
      <app-text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Product name"
      />
    </div>
    <div class="control">
      <label for="product-rating">Rating</label>
      <app-text-input
        [control]="fc.rating"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Rating"
      />
    </div>
  </div>

  <div class="two-column">
    <div class="control">
      <label for="product-price">Price</label>
      <app-text-input
        [control]="fc.price"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Price"
      />
    </div>
    <div class="control">
      <label for="product-oldPrice">Old Price (optional)</label>
      <app-text-input
        [control]="fc.oldPrice"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Old Price"
      />
    </div>
  </div>

  <div class="two-column">
    <div class="control">
      <label for="product-discount">Discount % (optional)</label>
      <app-text-input
        [control]="fc.discount"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Discount %"
      />
    </div>
    <div class="control">
      <label for="product-img">Image URL</label>
      <app-text-input
        [control]="fc.img"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Image URL"
      />
    </div>
  </div>

  <div class="two-column">
    <div class="control">
      <app-admin-select
        label="Type"
        placeholder="Select type"
        [options]="typeOptions"
        [control]="fc.typeId"
      />
      @if (isSubmitted && fc.typeId.invalid) {
      <div class="error">Type is required</div>
      }
    </div>

    <div class="control">
      <app-admin-select
        label="Brand"
        placeholder="Select brand"
        [options]="brandOptions"
        [control]="fc.brandId"
      />
      @if (isSubmitted && fc.brandId.invalid) {
      <div class="error">Brand is required</div>
      }
    </div>
  </div>
  @if(error){
  <div class="form-error">{{ error }}</div>
  }

  <div class="two-column mt-24">
    <button
      type="button"
      class="btn btn-light"
      (click)="cancel()"
      [disabled]="isLoading"
    >
      Cancel
    </button>
    <button class="btn" [disabled]="isLoading || productForm.invalid">
      @if (!isLoading) {<span>Save</span>} @if (isLoading)
      {<span>Saving...</span>}
    </button>
  </div>
</form>
