<h1 class="h1">Create user</h1>
<app-gray-line></app-gray-line>

<form [formGroup]="userForm" (ngSubmit)="submit()">
  <div class="form-grid">
    <div class="control">
      <label>Email</label>
      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      />
    </div>

    <div class="control">
      <label>Password</label>
      <app-text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      />
    </div>

    <div class="control">
      <label>First Name</label>
      <app-text-input
        [control]="fc.firstName"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="First Name"
      />
    </div>

    <div class="control">
      <label>Last Name</label>
      <app-text-input
        [control]="fc.lastName"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Last Name"
      />
    </div>

    <div class="control">
      <label>Street</label>
      <app-text-input
        [control]="fc.street"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Street"
      />
    </div>

    <div class="control">
      <label>City</label>
      <app-text-input
        [control]="fc.city"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="City"
      />
    </div>

    <div class="control">
      <label>Postal Code</label>
      <app-text-input
        [control]="fc.postalCode"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Postal Code"
      />
    </div>

    <div class="control">
      <label>Country</label>
      <app-text-input
        [control]="fc.country"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Country"
      />
    </div>

    <div class="control">
      <label for="role">Role</label>
      <select formControlName="role" class="select-input">
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </div>
  </div>

  @if(error){
  <div class="form-error">{{ error }}</div>
  }

  <button class="btn" [disabled]="isLoading || userForm.invalid">
    @if (!isLoading) {<span>Save</span>} @if (isLoading)
    {<span>Saving...</span>}
  </button>
</form>
