.form {
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 1rem;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.form-main-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 454px;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 90vw;
  }
}

.form-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

.control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.control label {
  display: block;
  font-size: 14px;
}

.control input {
  display: flex;
  width: 100%;
  max-width: 100vw;
  padding: 0.8rem;
  height: 56px;
  font-size: 1rem;
  font: inherit;
  border-radius: 10px;
  border: 1px solid var(--dark-color);
  @media (max-width: 480px) {
    width: 100%;
    max-width: 100vw;
  }
}

.control textarea {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  height: 100px;
  resize: none;
  font-size: 1rem;
  font: inherit;
  border-radius: 10px;
  border: 1px solid var(--dark-color);
  @media (max-width: 480px) {
    min-width: 100%;
  }
}

.control select,
.form-select {
  display: flex;
  width: 100%;
  padding: 0.5rem 0.8rem;
  height: 56px;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  color: var(--dark-color);
}

.error {
  color: var(--red-color);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form-error {
  color: var(--red-color);
  font-size: 0.875rem;
  margin: 0.5rem 0;
  text-align: center;
}

.control-error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--red-color);
  padding: 0 1rem 1rem 1rem;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty label,
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: #f98b75;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
  background-color: #fbdcd6;
  border-color: #f84e2c;
}
