<div class="hero-bg">
  <section class="main mb-72">
    <div class="content">
      <h1 class="hero-title">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
      <p class="text">
        Browse through our diverse range of meticulously crafted garments,
        designed to bring out your individuality and cater to your sense of
        style.
      </p>
      <a routerLink="/catalog">
        <button class="btn">Shop Now</button>
      </a>
      <div class="statistic">
        <div class="statistic__item">
          <div class="statistic__title">200+</div>
          <div class="text">International Brands</div>
        </div>
        <div class="statistic__item">
          <div class="statistic__title">2,000+</div>
          <div class="text">High-Quality Products</div>
        </div>
        <div class="statistic__item">
          <div class="statistic__title">30,000+</div>
          <div class="text">Happy Customers</div>
        </div>
      </div>
    </div>
    <div class="background-image">
      <img src="/images/home/background-image.png" alt="Background image" />
    </div>
  </section>
</div>
