.hero-bg {
  width: 100vw;
  background: #f2f0f1;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -37px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  padding: 2rem 1rem 0rem 1rem;
  @media (max-width: 1024px) {
    grid-template-columns: 2fr 1fr;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0rem 1rem;
  }
  @media (max-width: 480px) {
    padding: 1rem 1rem 0rem 1rem;
  }
}

.hero-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  @media (max-width: 992px) {
    font-size: 3rem;
  }
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.statistic {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.statistic__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statistic__title {
  font-size: 2.5rem;
  font-weight: 600;
}

.background-image img {
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
