<form class="address-form" [formGroup]="addressForm">
  <div class="control">
    <app-text-input
      [control]="addressForm.get('street')!"
      type="text"
      label="Street Address"
    />
  </div>
  <div class="control">
    <app-text-input
      [control]="addressForm.get('city')!"
      type="text"
      label="City"
    />
  </div>
  <div class="control">
    <app-text-input
      [control]="addressForm.get('postalCode')!"
      type="text"
      label="Postal Code"
    />
  </div>
  <div class="control">
    <app-text-input
      [control]="addressForm.get('country')!"
      type="text"
      label="Country"
    />
  </div>
  <div class="control">
    <app-text-input
      [control]="addressForm.get('phone')!"
      type="text"
      label="Phone Number"
    />
  </div>
</form>
