<div class="checkout-container">
  <h1 class="h1 mb-16">Checkout</h1>
  <div class="checkout-content">
    <div class="checkout-left">
      <div class="checkout-user-info">
        <h2 class="h2 mb-24">User Information</h2>
        <app-user-name-form
          [initialValue]="initialUserName()"
          (userNameChange)="onUserNameChange($event)"
        ></app-user-name-form>
      </div>
      <div class="checkout-user-info">
        <h2 class="h2 mb-24">Shipping Address</h2>
        <app-address-form
          [initialValue]="initialAddress()"
          (addressChange)="onAddressChange($event)"
        ></app-address-form>
      </div>
      <div class="checkout-user-info">
        <h2 class="h2 mb-24">Order Notes</h2>
        <app-order-notes-form
          (notesChange)="onNotesChange($event)"
        ></app-order-notes-form>
      </div>
    </div>
    <div class="checkout-right">
      <app-order-summary
        [cartSummary]="cartSummary"
        [buttonText]="'Go to Payment'"
        (checkoutClicked)="onCheckout()"
      ></app-order-summary>
    </div>
  </div>
</div>
