<header class="main-header">
  <div class="burger-wrapper">
    <app-burger-menu
      [isOpen]="isMobileMenuOpen"
      (toggle)="toggleMobileMenu()"
      (close)="closeMobileMenu()"
    >
    </app-burger-menu>
  </div>
  <a class="logo" routerLink="/">
    <img src="/images/svg/logo-small.svg" alt="Logo" />
  </a>
  <nav class="main-menu">
    <a
      class="menu-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="menu-link" routerLink="/catalog" routerLinkActive="active"
      >Catalog</a
    >
  </nav>

  <div class="header-actions">
    @if (isAdmin) {
    <a class="header-icon" routerLink="/admin" title="Admin Panel">
      <img src="/images/svg/admin/lock.svg" alt="Admin" />
    </a>
    }
    <a class="header-icon" routerLink="/cart">
      <img src="/images/svg/shopping-cart.svg" alt="Basket" />
      <app-badge [count]="cartItemsCount"></app-badge>
    </a>

    @if (isAuthenticated) {
    <app-profile-dropdown (logout)="onLogout()"></app-profile-dropdown>
    } @else {
    <a class="header-icon" routerLink="/login">
      <img src="/images/svg/user.svg" alt="Login" />
    </a>
    }
  </div>
</header>
