<header class="main-header">
  <div class="burger-wrapper">
    <app-burger-menu
      [isOpen]="isMobileMenuOpen"
      (toggle)="toggleMobileMenu()"
      (close)="closeMobileMenu()"
    >
    </app-burger-menu>
  </div>
  <a class="logo" routerLink="/">
    <img src="/images/svg/logo-small.svg" alt="Logo" />
  </a>
  <nav class="main-menu">
    <a
      class="menu-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="menu-link" routerLink="/catalog" routerLinkActive="active"
      >Catalog</a
    >
    <a class="menu-link" routerLink="/cart" routerLinkActive="active">Cart</a>
    <a class="menu-link" routerLink="/checkout" routerLinkActive="active"
      >Checkout</a
    >
    <a class="menu-link" routerLink="/payment" routerLinkActive="active"
      >Payment</a
    >
    <a class="menu-link" routerLink="/success" routerLinkActive="active"
      >Success</a
    >
    @if (isAuthenticated) {
    <a class="menu-link" routerLink="/profile" routerLinkActive="active"
      >Profile</a
    >
    <button class="menu-link" (click)="onLogout()">Logout</button>
    }
  </nav>

  <div class="header-actions">
    @if (isAdmin) {
    <a class="header-icon" routerLink="/admin" title="Admin Panel">
      <img src="/images/svg/admin/lock.svg" alt="Admin" />
    </a>
    }
    <a class="header-icon" routerLink="/cart">
      <img src="/images/svg/basket.svg" alt="Basket" />
      <app-badge [count]="cartItemsCount"></app-badge>
    </a>

    @if (isAuthenticated) {
    <a class="header-icon" routerLink="/profile">
      <img src="/images/svg/user.svg" alt="Profile" />
    </a>
    } @else {
    <a class="header-icon" routerLink="/login">
      <img src="/images/svg/user.svg" alt="Login" />
    </a>
    }
  </div>
</header>
