.sidenav {
  top: 0;
  margin: 1rem;
  border-radius: 20px;
  background: var(--white-color);
  border: 1px solid var(--grey-light-color);
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1;
  width: 17rem;
}

.sidenav-small {
  width: 5.2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  background-color: var(--secondary-color-light);
}

.logo-text {
  margin-left: 1.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}

.btn-close:hover {
  background-color: var(--grey-light-color);
}

.sidenav-nav {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.sidenav-nav-item {
  width: 100%;
  border-radius: 62px;
  background-color: var(--grey-light-color);
  margin-bottom: 0.5rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #000;
}

.sidenav-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0.8rem 1.5rem;
}

.sidenav-link-text {
  margin-left: 1rem;
}

.sidenav-nav-item:hover .sidenav-nav-link {
  background-color: var(--secondary-color-light);
  border-radius: 62px;
}

.active {
  background-color: var(--secondary-color-light);
  border-radius: 62px;
}
