@use "app/ui/forms";

@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  min-height: 100vh;
  font-family: "Jost";
  --primary-color: #000000;
  --primary-color-hover: rgb(0, 0, 0, 0.8);
  --primary-color-03: rgb(0, 0, 0, 0.3);
  --primary-color-06: rgb(0, 0, 0, 0.6);
  --grey-light-color: rgb(0, 0, 0, 0.1);
  --grey-light-color-hover: rgb(0, 0, 0, 0.15);
  --secondary-color: rgb(25, 118, 210);
  --secondary-color-light: rgba(25, 118, 210, 0.2);
  --secondary-color-hover: #146ac0;
  --green-color: #23b122;
  --grey-color: #f0f0f0;
  --grey-dark-color: rgb(0, 0, 0, 0.6);
  --red-color: #f56565;
  --red-hover-color: #ef4b4b;
  --orange-color: #f29401;
  --orange-hover-color: #ff9d00;
  --yellow-color: #f3c501;
  --purple-color: rgba(138, 43, 226, 0.4);
  --white-color: #ffffff;
}

// Reset CSS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}
button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

// My styles
.h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color, #000);
}

.center {
  text-align: center;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-72 {
  margin-bottom: 72px;
}

.mt-24 {
  margin-top: 24px;
}

.btn {
  max-width: 450px;
  width: 100%;
  height: 56px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 16px 20px;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease 0s;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--primary-color-hover);
  }
}

.btn-cancel {
  background-color: var(--grey-light-color);
  border: 1px solid var(--grey-color);

  &:hover,
  &:focus-visible {
    background-color: var(--grey-light-color-hover);
  }
}

.btn-light {
  background: #f8f9fa;
  color: #666;
  border: 1px solid #dee2e6;

  &:hover,
  &:focus-visible {
    background: #e9ecef;
  }
}
